body{
	background-color:white;
}
.products{
	flex-wrap: wrap; 
	display: flex;
	justify-content: space-between;
	
}
a{
	text-decoration: none;
}
.product{
	
	box-shadow: 5px 10px 18px #888888;
	
}
#list-products{
	width:270px;
}
.product-name{
	padding:10px;
}
.product-price{
	padding:10px;
}
.product-btn{
	width:100%;
	height:40px;
	border:0;
}
a:hover{
	color:#ff8000;
}
product-btn:hover{
	color:#ff8000;
}
.product-image{
	
	height:100%;
	width:100%;
	
}
li{
	
	
	list-style-type: none;
	
}
.AllProducts .container .products li,.products li{
	list-style-type: none;
	padding:20px;
}
.CategoryHeading{
	margin-top:10px;
	border-bottom:1px solid #9e9494;
}
.card-text{
	
	font-size: 88%;
	margin:10px;
	
}
.cat-btn{
	background-color:white;
	border:1px solid #dadada;
	 height: 37px;
    width: 113px;
}
.card.mb-3{
box-shadow: 0px 10px 18px #888888;
}

footer{
	background-color:#f8f9fa;
}
.sidebar button{
	
	margin-top:20px;
	
}
.descriptionTable{
	margin-top: 40px;
}

//cart css

.orderSummery{
	display: flex;
    justify-content: flex-start;
	
	}
	.bottom{
	border-bottom: 1px solid #b5aeae;
	padding: 10px;
	}
	.cartImg{
		    width: 30px;
	}
	.cartHeading{
	
	    margin-left: 10px;
	
	}
	.products-row{
	margin-top: 10px;
	}
	.cartProductImg{
	width:35%;
	}
	.quantity{
		width:30px;
	}
	.remove{
	color:red;
	}
	
	//cart css end